name: Telegram Poster from JSON

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

concurrency:
  group: telegram-job
  cancel-in-progress: true

jobs:
  post:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - run: |
          pip install aiogram requests

      - name: Send Next Course
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: python scraper/telegram_bot.py
